@tailwind base;
@tailwind components;
@tailwind utilities;

/* Install Prettier for auto class sorting */
/* [1] npm install -D prettier-plugin-tailwindcss */
/* [2] create .prettierrc.json in the project root (dont forget the . in the name)*/
/* [3] add: 
  {
      "plugins": ["prettier-plugin-tailwindcss"]
    } */
/* [4] If it is not working - first try relaunching VS code */



/* CSS Variables based on project design */

@layer base {
  :root {
    --grey-900: 187, 24%, 22%;
    --grey-500: 186, 15%, 59%;

    --green-600: 169, 82%, 27%;
    --green-200: 148, 38%, 91%;

    --red: 0, 66%, 54%;
  }
}

.test {
  color: hsl(187, 24%, 22%);
  color: hsl(186, 15%, 59%);

  color: hsl(169, 82%, 27%);
  color: hsl(148, 38%, 91%);

  color: hsl(0, 66%, 54%);
}